

header {
    width: 100%;
    border-bottom: 1px solid gray;
}
    


.nav { 
    color: black;
    padding: 5px;
    margin: 1px;
    
    
    
}

h1{
    width: 25%;
    text-align: center;
    background-color: lightblue;
    padding: 8px;
    margin: 1px;
    

}
h2 {
    text-align: left;
    max-width: ;
    padding: 10px;
    margin: 5px; 
    color: lightblue;
    border-bottom: 1px solid gray;
}

body {
    margin: auto;
    width: 960px;
    
    
    
}
form {
    margin: 20px;
}

div {
    right:160px; top:10px;
    

}

img {
    float: left;
    margin: 10px;
    
}

footer {
    
    height: 40px;
    margin: 0;
    background-color: darkgray;
   
}
